.App {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
text-align: center;
height:100vh;


}
.Adder{
  display: flex;
  justify-content: space-around;

} 


.out {
  text-decoration: line-through;
}

.del{
  width: 2vw;
  background-color:whitesmoke;
  border-radius: 1vh;
  margin-left: 1vw;


}
.Button{


  border-color: transparent;
  border-radius: 2vh;
  font-size:3vh;
  width: 10vh;
  height:  12vh;
  text-align: center;
  margin-right: 40vw;
  margin-top: 9vh;

}

.input{
  margin-left: 20vw;
  margin-top: 12vh;
  width: 20vw;
  height:  4vh;
  border-radius: 1vh;
  border-color: black;
}

.List{
  margin-top: 4vh;
  margin-left: -10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  width: 20vw;
  justify-content: space-around;
  border-color: black;
  border-radius: 1vh;
}
.item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: space-between;
}

.head{
  height: 15vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}